<%- include("templates/header") %>
<main>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="/img/cat1.jpg" alt="Food cat meme">
        <div class="card-body">
            <h5 class="card-title">Foooood</h5>
            <p class="card-text">
                Hungry cat is the scariest cat!!!
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/cat2.jpg" alt="Cough cat meme">
        <div class="card-body">
            <h5 class="card-title">Cawggggghhhh</h5>
            <p class="card-text">
                I found this meme flying around twitter lol.
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/img/cat3.jpg" alt="Charged cat meme">
        <div class="card-body">
            <h5 class="card-title">FULLY CHARGED</h5>
            <p class="card-text">
                ME whenever I woke up after ignoring 27 alarms.
        </div>
    </div>
</div>
</main>
<%- include("templates/footer") %>