<%- include("templates/header") %>
<main>
    <div class="blur-background"></div> <!-- New element for blurred background -->
    <div class="form-signin w-100 m-auto"> <!-- Original contents of main -->
            <!--            <image xlink: href="/img/icons8-confectionery-96.png" style="width: 40px; height: 32px"/>-->
            <h1 class="h3 mb-3 fw-normal">Congratulations! <br>You have created an account!</h1>
            <div class="d-flex gap-2 justify-content-center py-5">
                <button class="btn btn-primary d-inline-flex align-items-center" id="login">
                    Log In
                </button>
            </div>
            <p class="mt-5 mb-3 text-body-secondary">© 2023</p>
    </div>
</main>
<script src="/js/login.js"></script>
<%- include("templates/footer") %>